<configuration>
    <property name="LOG_DIR" value="/storage/emulated/0/Download/logs/" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- lazy initialization: don't create the file until 1st write -->
        <lazy>true</lazy>

        <file>${LOG_DIR}/ps.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>
